main{
    background-color: #dfd4c8;
    min-height: 80vh;
    font-family: "Cormorant", serif;
    padding-top: 20px;
    padding-bottom: 30px;
}

main div.menu{
    width: 20%;
    margin: 0px auto;
    border-right: 3px solid #857776;
    background-color: #857776;
    color: white;
    padding: 10px;
}
main div.menu ul{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
}
main div.menu ul li{
    cursor: pointer;
}
main div.menu ul .underline{
    border-bottom: 2px solid #dfd4c8;
}

main div.menu ul .hover:hover{
    color: #dfd4c8;
}

main div.container{
    background-color: white;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 20px ;
}

main div.container div.bottom-side{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
}
main div.container div.bottom-side form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main div.container div.bottom-side form input, textarea{
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #857776 ;
    margin-top: 10px;
}

main div.container div.bottom-side div.section label{
    font-size: 25px;
    font-weight: bold;
    color: #857776;
}
main div.container div.bottom-side form > button.button-for-create{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #857776;
    color: white;
    font-size: 20px;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 100%
}
main div.section:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 50%;
}

main div.section:nth-child(1) div.image-container img {
    width: 200px;
    height: 200px;
}