.error-message {
    display: block;
    animation: cssAnimation 0s ease-in 3s forwards;
    background-color: #ff4c4c;
    color: white;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
  }
  @keyframes cssAnimation {
    to {
        display: none;
    }
  }
  
  .error-container {
    position: fixed;
    top: 3em;
    right: 42%;
    width: 300px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  @media (max-width: 1300px){
    .error-container {
        right: 38%;
      }
  }
      
  @media (max-width: 1600px){
    .error-container {
        right: 40%;
      }
    }
  @media (max-width: 1100px){
    .error-container {
        right: 36%;
      }
    }
  @media (max-width: 700px){
    .error-container {
        right: 28%;
      }
    }