main{
    background-color: #dfd4c8;
    min-height: 80vh;
    font-family: "Cormorant", serif;
    padding-top: 20px;
}

main div.menu{
    width: 20%;
    margin: 0px auto;
    border-right: 3px solid #857776;
    background-color: #857776;
    color: white;
    padding: 10px;
}
main div.menu ul{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
}
main div.menu ul li{
    cursor: pointer;
}
main div.menu ul .underline{
    border-bottom: 2px solid #dfd4c8;
}

main div.menu ul .hover:hover{
    color: #dfd4c8;
}
main div.container{
    margin: 0px auto;
    width: 80%;
    margin-top: 30px;
    position: relative
}
main div.container table{
    width: 100%;
    table-layout: fixed;
}
main div.container table thead th{
    color: white;
    font-size: 25px;
    background-color: #857776;
}
main div.container table tbody{
    background-color: white;
}
main div.container table tbody td{
    font-size: 16px;
}
main div.container table thead th,
main div.container table tbody td{
    border-bottom: 2px solid #857776;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}
tr:hover td{
    background-color: #dfd4c8;
    cursor: default;
}
main div.container table tbody td button{
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    margin-top: 0px;
    width: auto;
}
main div.container table tbody td button:nth-child(1){
    background-color: #857776;
    margin-right: 10px;
}
main div.container table tbody td button:nth-child(2){
    background-color: red;
}

main div.container div.change-page{
    position: absolute;
    top: -50px;
    right: 0px;
    width: 5%;
}

main div.container div.change-page ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main div.container div.change-page ul li{
    cursor: pointer;
}

main div.container div.change-page ul li i{
    font-size: 20px;
    background-color: #857776;
    padding: 10px;
    border-radius: 50%;
}