    Html{
    box-sizing: border-box
    } 
    *,*:before,*:after{
    box-sizing:inherit; 
    padding:0px;
    margin: 0px;
    text-decoration: none;
    color: inherit;
    } 
    ul{
        list-style-type: none;
    }
    /*Home page header*/
    header{
        display: flex;
        flex-direction: row;
        background-color: #857776;
        font-family: "Tinos", serif;
        color: #FFFDFC;
        justify-content: center;
        padding: 5px 0px 5px 0px;
    }
    header div.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
    header div.left-side{
        display: flex;
        align-items: center;
        gap: 30px;
        
    }

    header div.container div.left-side > a{
        font-size: 50px;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .menu ul li a{
        font-size: 20px;
        text-align: center;
    }

    
    .menu ul li:hover{
        color: #dfd4c8;
    }

    .right-side{
        display: flex;
        align-items: center;
    }
    .right-side nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    .right-side nav ul li i{
        font-size: 20px;
        cursor:pointer;
    }
    header.hidden {
        position: relative;
        display: none;
    }
    header.hidden .container{
        margin: 0px auto;
        width: 72%;
    }
    header.hidden nav.dropdown{
        position: absolute;
        right: 0px;
        top: 68px;
        background-color: #857776;
        width: 30%;
        z-index: 9000;
        opacity: 0.95;
        padding-top: 20px;
    }
    header.hidden nav.dropdown ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        font-size: 20px;
        height: 100vh;
        gap: 20px;
        text-align: left;
    }
    header.visible div.right-side ul li:first-child{
        position: relative;
    }
    header.visible div.right-side ul li:first-child:hover div.cart-dropdown{
        display: block;
    }
    header.visible div.right-side ul li:first-child div.item-counter{
        background-color: red;
        font-size: 12px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        font-weight: bold;
        right: -5px;
        bottom: -5px;
    }
    header.visible div.right-side ul li:first-child div.cart-dropdown{
        position: absolute;
        z-index: 9999;
        right: -30px;
        top: 30px;
        border: 1px solid #857776;
        color: #857776;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 10px;
        gap: 10px;
        display: none;
    }
    header.visible div.right-side ul li:first-child div.cart-dropdown div.top-section h3{
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
    header.visible div.right-side ul li:first-child div.cart-dropdown div.middle-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    header.visible div.right-side ul li:first-child div.cart-dropdown div.middle-section div.cart-single-item{
        display: flex;
        flex-direction: row;
        width: 300px;
        justify-content: space-around;
    }
    header.visible div.right-side ul li:first-child div.cart-dropdown div.middle-section div.cart-single-item div.right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    header.visible div.right-side ul li:first-child div.cart-dropdown div.middle-section div.cart-single-item div.right-side div.bottom-side{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    header.visible div.right-side ul li:first-child div.cart-dropdown div.middle-section div.cart-single-item div.left-side{
        flex: 0 0 calc(100%/2.5);
    }
    header.visible div.right-side ul li:first-child div.cart-dropdown div.middle-section div.cart-single-item div.left-side img{
        width: 100%;
        height: 100%;
    }

    header.visible div.right-side ul li:first-child div.cart-dropdown div.bottom-section{
        border-top: 1px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        padding: 10px 0px 10px 0px;
        gap: 70px;
    }
    header.visible div.right-side ul li:first-child div.cart-dropdown div.bottom-section p {
        font-size: 20px;
        font-weight: bold;
    }


    /*******************************************************************/
    main{
        background-color: #dfd4c8;
        font-family: "Cormorant", serif;
        padding: 50px 0px 50px 0px;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main div.container{
        width: 70%;
        background-color: white;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    main div.container div.left-side{
        flex: 0 0 calc(100%/2)
    }

    main div.container div.left-side img{
        width: 100%;
        height: 100%;
    }
    main div.container div.right-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        color: #857776;
        width: 100%;
        gap: 30px;
    }

    main div.container div.right-side div.top-side{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        text-align: center;
    }
    main div.container div.right-side div.top-side div.price-counter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    main div.container div.right-side div.top-side div.price-counter p{
        font-size: 30px;
        font-weight: bold;
    }
    main div.container div.right-side div.top-side div.price-counter div.counter{
        border: 2px solid #857776;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 0px 15px 0px 15px;
        font-size: 20px;
    }
    main div.container div.right-side div.top-side div.price-counter div.counter span.icons i{
        font-size: 15px;
        cursor: pointer;
    }
    main div.container div.right-side div.top-side div.price-counter div.counter span.number{
        font-size: 25px;
        font-weight: bold;
    }

    main div.container div.right-side button{
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #857776;
        border: none;
        font-weight: 600;
        padding: 15px;
        color: white;
        cursor: pointer;
    }

    main div.container div.right-side div.bottom-side{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: flex-start;
        gap: 10px;
    }
    main div.container div.right-side div.bottom-side h3{
        padding-bottom: 10px;
        font-size: 25px;
    }

    /*******************************************************************/

    footer{
        background-color: #857776;
        color: white;
        font-family: "Tinos", serif;
        padding: 20px 0px 20px 0px;
    }
    footer .container{
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
        gap: 100px;
        margin: 0px auto;
    }
    footer .container-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 100px;
    }
    footer .container .left-side h2{
        font-size: 80px;
        font-weight: 300;
    }
    footer .container .middle{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    footer .container .middle h3{
        font-size: 25px;
        font-weight: 300;
    }
    footer .container .middle ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    footer .container .middle ul li{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    footer .container .right-side{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    footer .container .right-side ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }    
    footer .container .right-side h3{
        font-size: 25px;
        font-weight: 300;
    }

    @media (max-width: 1000px){
        body > main > div.second-section > div.container > div.wrapper{
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }
        body > footer > div.container{
            flex-direction: column;
            gap: 20px;
        }
        header.hidden{
            display: block;
        }
        header.visible{
            display: none;
        }
    }

